<div class="box">

  <h1>Editing Book</h1>

  <% if @book.errors.any? %>
    <%= @book.errors.count %>error prohibited this book from being saved:
    <ul>
      <% @book.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
    </ul>
  <% end %>

  <%= form_with model: @book , local: true do |f|%>

  <P class="edit-p"><span class="bold">Title</span></P>
  <%= f.text_field :title %>

  <P class="edit-p"><span class="bold">Body</span></P>
  <%= f.text_area :body %>

  <div class="btn"><%= f.submit "Update Book" %></div>
  <%end%>

  <p class="edit-p"><span><%=link_to("show","/books/#{@book.id}")%></span>
  <span>|</span>
  <span><%=link_to("back","/books")%></span></p>

</div>